body{
  background-color: #ffffff;
}

#cards_landscape_wrap-2 {
  text-align: center;
}
#cards_landscape_wrap-2 .container {
  padding-top: 5px;
  padding-bottom: 10px;
}
#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
  max-height: 23rem;
  min-height: 23rem;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
#cards_landscape_wrap-2 .card-flyer .image-box {
  overflow: hidden;
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img {
  margin-top:10px;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  transition: all .9s ease;
  width: 100%;
  height: 10rem;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer {
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#cards_landscape_wrap-2 .card-flyer:hover {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}
#cards_landscape_wrap-2  .card-foot {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
#cards_landscape_wrap-2  .card-foot p {
  font-size: 14px;
  display:inline;
  margin-left:10px;
  font-weight: bold;

}

.btn-custom-success{
  background-color: #27ae60;
}
.btn-custom-danger{
  background-color: #dc3545;
}
.btn-custom {
  margin-top:5px;
  margin-right:10px;
  appearance: none;
  backface-visibility: hidden;
  
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.btn-custom-success:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.btn-custom:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.btn-custom-success:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
 

.main {
  text-align: center;
}

.main-box {
  min-height: 100vh;
  margin: 0 10vw;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  text-align:center;
  font-size: calc(10px + 2vmin);

}
.main-title{
  align-self: start;
  
}
.box-left{
  flex:8;
}
.box-right{
  flex:4;
}
